.editBar {
    background: #333;
    padding: .75rem 0;
    position: fixed;
    left: 0;
    top: 75px;
    z-index: 1;
    width: 100%;
    & .introTitle {
        font-size: 1.125rem;
        font-weight: 500;
        display: inline-block;
        vertical-align: middle;
        font-family: $familyMontserrat, $fallbackfont;
        color: #fff;
        margin-left: .75rem;
        margin-top: .5rem;
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
    }
}

.backLink {
    font-family: $familyMontserrat, $fallbackfont;
    font-weight: 600;
    font-size: .75rem;
    margin: .5rem 0;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    &:hover {
        text-decoration: none;
    }
    & svg {
        width: 13px;
        display: inline-block;
        vertical-align: middle;
        fill: $primary;
        margin-top: -3px;
        margin-right: 4px;
    }
}

.pushUp {
    margin-top: -3.25rem;
}

.mainIntro .mainIntro-head .introRating {
    top: 1.85rem;
}

.bookIntro .bookIntro-cost ul li {
    font-size: 1.15rem;
    padding: 0 1.15rem;
}

.detailPage {
    background: #fafafa;
}

.hostIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-top: -1px;
    & img {
        display: block;
    }
}

.myprofilePage {
    // height: calc(100vh - 75px);
    color: #888;
}

.profileLeft {
    //  height: calc(100% - 100px);
    top: 50px;
}

.profileLeft p {
    color: inherit;
}

.profileLeft .hostVerify {
    color: #fdaa00;
    font-size: .75rem;
    position: relative;
    padding-left: 22px;
    line-height: 20px;
    & b {
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }
}

.profileRight {
    overflow: hidden;
}

.profileRight .profileData {
    width: 100%;
    clear: both;
    border-right: none;
}

.cform-box {
    color: #212529;
}

.profileData {
    & .row {
        border-bottom: 1px solid #f9f9f9;
    }
    & .downloadCard {
        margin-bottom: 0;
    }
}